
<%- include('../partials/nav.ejs') %>

<h1>Library</h1>
   <ul> 
        <% readings.forEach((item, index) => { %>
        <li>
            <a href="/library/<%= item._id %>"><img src="<%= item.image %>"></a>
            <a href="/library/<%= item._id %>"><%= item.title %></a>
            <p> <%= item.rating %></p>
        </li>
        <% }) %>
    </ul>