
<%- include('../partials/nav.ejs') %>

<h1>Library</h1>
   <ul id="readingList"> 
        <% readings.forEach((item, index) => { %>
        <li id="readingItem">
            <a href="/library/<%= item._id %>"><img src="<%= item.image %>" id="readImage"></a>
            <div id="undertext">
                <a href="/library/<%= item._id %>" class="bodyA"><%= item.title %></a>
                <p id="rating">Rating: <%= item.rating %></p>
            </div>
        </li>
        <% }) %>
    </ul>

    <%- include('../partials/footer.ejs') %>