<%- include('../partials/nav.ejs') %>

<div>
    <img src="<%= section.readImage[0] %>" id="readingImage">
    <p><span>Title:</span><%= section[0].readTitle %></p>
    <p><span>Author: </span><%= section[0].readAuthor %></p>
    <p><span>Description: </span><%= section[0].readDescription %></p>

</div>

<div>
    <h1>Chapter / Section: <%= section[0].chaptername %></h1>

    <p>Comments: </p>

    <section>
        <button>
            <a href="/chapter/<%= section[0]._id %>/new">Add Comment</a>
        </button>
    </section>
</div>