
<%- include('../partials/nav.ejs') %>

<div id="showReading">
    <div id="readingStats">
        <img src="<%= reads.image %>" id="readingImage">
        <p class="showText"><span class="labels">Rating:&nbsp;</span> <%= reads.rating %></p>
        <p class="showText"><span class="labels">Review:&nbsp; </span> <%= reads.review %></p>
        <p class="showText"><span class="labels">Tags:&nbsp;</span></p>
        <ul>
            <% reads.tags.forEach((tag, tagIndex)=> { %>
                <li id="tag">
                    <%= tag %>
                </li>
            <% }) %>
        </ul>

    </div>

    <div id="readingInfo">
        <h2><%= reads.title %></h2>
        <p class="showText"> <span class="labels">Author:&nbsp;</span><%= reads.author %></p>
        <p class="showText"><span class="labels">Description:&nbsp;</span><%= reads.description %></p>
        <p id="chapterlabel">Chapters:&nbsp;</p>
        <ul class="showText">
            <% reads.chapters.forEach((chapter, chapterIndex)=> { %>
                <a href="/chapter/<%= reads._id %>/<%= chapter %>"><li class="chapterItems">
                    <%= chapter %>
                </li></a>
            <% }) %>
        </ul>

        <section id="readButtons">
            <button class="editBtn"><a href="/library/<%= reads._id %>/edit" id="editBtnLink">Edit</a></button>

            <p>&nbsp;</p>
            
            <form method="POST" action="/library/<%= reads._id %>?_method=DELETE">
                <input type="submit" value="Delete" class="deleteBtn"/>
            </form>
        </section>
        
    </div>
</div>

<%- include('../partials/footer.ejs') %>